<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</head>
<body>
    <div id="bdy">
        <div id="headerBox">
            <nav class="navbar navbar-expand-lg navbar-light " style="padding-left: 7%;">
              <!-- <a class="" href="#">HOME</a>
              <a class="" href="/login">LOGIN</a>
              <a class="" href="/signup">SIGNUP</a> -->
              <%for(i=0;i<navbarinvalid.length;i++){%>
                <li>
                  <a href="<%=navbarinvalid[i].link%>"><%=navbarinvalid[i].name%></a>
                </li>
                <li>
                  <%}%>
            </nav>
        </div>
        <div id="secondBox">
            
            <h1>Library</h1>
        </div>
    </div>
    <div id="topBox" style="z-index: 2;">
        
        <section>
            <div class="container border shadow-lg">
                <div style="text-align: center;"> 
                    <img class="rounded-circle" src="/img/denyduck.jpg" width="150px" height="150px">
                </div>
                <h1 style="color: #c54332;">Access Denied</h1>
                <p style="color: indigo;">create an account</p> 
    </div>
    </section>
        
    </div>
    <nav class="fixed-bottom bottomNav" style="background: none;z-index: 0;">
        <h4 class="" href="#">Follow Us</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" style="background-color: #3c96fd;">Twitter</button>
            <button type="button" class="btn btn-secondary" style="background-color: #3a589b;">Facebook</button>
            <button type="button" class="btn btn-secondary" style="background-color: #c54332;">Google+</button>
        </div>
      </nav>
      <!-- <script src="/js/bootstrap.min.js"></script> -->
      <script src="/js/loginScript.js"></script>
</body>
</html>